/* ======================================================================== */
/* Reset & Defaults
 ========================================================================== */

/* Web Fonts */
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600&display=swap');
/* Base Styles */
:root {

}

:root {
  --c-bg: #fff;
  --c-loud: #000;
  --c-quiet: #7A7375; /* 4.62:1 on white | 4.62:1 on black */
  --c-accent: #BCBEC0;
  --fs-hero: 12vw;
  --fs-headline: .75em;
  --fs-title: 1.25em;
  --fs-copy: .8125em;
}


* {box-sizing: border-box;}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  background: var(--c-page-bg);
  color: var(--c-quiet);
  font-family: Hind, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-display: optional;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.45;
  margin: 0;
}

/* Layout
 ========================================================================== */

.l_page {}

.l_hero {

}

@media only screen and (min-width: 812px) {
  .l_lg_3col {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

/* Typography
 ========================================================================== */
h1 {}

h2 {}



 /* Atoms
 ========================================================================== */


/* Accessibility
 ========================================================================== */
.sr_only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
